
<!DOCTYPE html>
<html lang="en">

  <% include ../partials/head %>
  <body>

    <% include ../partials/navbar %>


    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-12 col-md-9">
          <p class="float-right hidden-md-up">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <h1><%= professor.firstname %> <%= professor.middleinitial %> <%= professor.lastname %></h1>
          <small>Department of <%= professor.department %></small>
          <br><br>
          <form action="/newreview">
            <input type="hidden" name="prof_id" value="<%= professor.professor_id %>" /> 
            <button class="btn btn-lg btn-secondary">Add Your Own Review</button>
          </form>
          <br>

          <h2>Average Rating</h2>
          <div class="jumbotron">
          <% if (!rating) { %>
            <h1>N/A</h1>
            <small>
              This professor currently has no reviews<br>
              You can help out by <a href ="/newreview?prof_id=<%= professor.professor_id %>">submitting your own</a>
            </small>
          <% } else { %>
            <h1> <%= rating %> out of 10 </h1>
            <% if (tagCount.homework) { %>
              <span class="badge badge-info">heavy workload (<%= tagCount.homework %>)</span>
            <% } %>
            <% if (tagCount.test > 0) { %>
              <span class="badge badge-info">lots of tests (<%= tagCount.test %>)</span>
            <% } %>
            <% if (tagCount.participation > 0) { %>
              <span class="badge badge-info">mandatory participation (<%= tagCount.participation %>)</span>
            <% } %>
            <% if (tagCount.respectful > 0) { %>
              <span class="badge badge-info">respectful (<%= tagCount.respectful %>)</span>
            <% } %>
            <% if (tagCount.notesonline > 0) { %>
              <span class="badge badge-info">posts notes online (<%= tagCount.notesonline %>)</span>
            <% } %>
            <% if (tagCount.available > 0) { %>
              <span class="badge badge-info">available outside class (<%= tagCount.available %>)</span>
            <% } %>
            <% if (tagCount.lectures > 0) { %>
              <span class="badge badge-info">amazing lectures (<%= tagCount.lectures %>)</span>
            <% } %>



          <% } %>
          </div>

          <h2><%= reviews.length %> Reviews</h2>
          <div class="jumbotron">
            <hr>
              <% for (var i=0; i < reviews.length; i++) { %>
                <h3><%= reviews[i].rating %>/10</h3>
                <small><%= reviews[i].post_date %></small><br>
                <small>Course Name: <%= reviews[i].course_name %></small>
                <br><br>
                <p> <%= reviews[i].description %> </p>

                <!-- Displays the characteristic tags -->
                <% if (reviews[i].homework) { %>
                  <span class="badge badge-info">heavy workload</span>
                <% } %>
                <% if (reviews[i].test) { %>
                  <span class="badge badge-info">lots of tests</span>
                <% } %>
                <% if (reviews[i].participation) { %>
                  <span class="badge badge-info">mandatory participation</span>
                <% } %>
                <% if (reviews[i].respectful) { %>
                  <span class="badge badge-info">respectful</span>
                <% } %>
                <% if (reviews[i].notesonline) { %>
                  <span class="badge badge-info">posts notes online</span>
                <% } %>
                <% if (reviews[i].available) { %>
                  <span class="badge badge-info">available outside class</span>
                <% } %>
                <% if (reviews[i].lectures) { %>
                  <span class="badge badge-info">amazing lectures</span>
                <% } %>



                <hr>
              <% } %>
          </div>

          <h2>Questions</h2>
          <small>Have a question about this professor? <a href='/newquestion?prof_id=<%= professor.professor_id %>'>ask away</a></small>
          <div class="jumbotron">
              <% for (var i=0; i < questions.length; i++) { %>
                <h4><%= questions[i].question_text %></h4>
                <small><a href='#'>View all answers to this question</a></small><br>

                <hr>
              <% } %>
          </div>
        </div>
        <%- include('../partials/sidebar', {active: 'professors'}); %>

      </div>

      <hr>
    </div>
  </body>
</html>
