
<!DOCTYPE html>
<html lang="en">
  <link href="../style.css" rel="stylesheet" type="text/css">
  <% include ../partials/head %>
  <body>

    <% include ../partials/navbar %>


    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-12 col-md-9">
          <p class="float-right hidden-md-up">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <h1><%= professor.firstname %> <%= professor.middleinitial %> <%= professor.lastname %></h1>
          <small>Department of <%= professor.department %></small>
          <br><br>
          <form class="prof-class" action="/professor/<%= professor.professor_id %>" method="GET">
            <select name="course" class="custom-select required prof-class" onchange="submit()">
                <option value="" <%= course == '' ? 'selected' : ''%>>Select A Course</option>
                <% for (var i=0; i < courseList.length; i++) {
                  var selected = ( course == courseList[i].course_name ) ? "selected" : "";%>
                  <option value=<%= courseList[i].course_name %> <%=selected %>><%= courseList[i].course_name %></option>
                <% } %>
            </select>
          </form>
          <form action="/newreview" class="new-review-button">
            <input type="hidden" name="prof_id" value="<%= professor.professor_id %>" />
            <button class="btn btn-lg btn-secondary add-review-button">Add A Review</button>
          </form>
          <br>
          <script>
            function selectCourse() {
              location.reload();
            }
          </script>
          <h2>Average Rating</h2>
          <div class="jumbotron">
          <% if (!rating) { %>
            <h1>N/A</h1>
            <small>
              This professor currently has no reviews<br>
              You can help out by <a href ="/newreview?prof_id=<%= professor.professor_id %>">submitting your own</a>
            </small>
          <% } else { %>
            <h1>		
			<% if (rating < 6 && rating > 4) { %>
				<span style='font-size:75px;'>&#128528;</span>
			<% } %>
			<% if (rating <= 2) { %>
				  <span style='font-size:75px;'>&#128542;</span>
			<% } %>
			<% if (rating >= 8) { %>
				  <span style='font-size:75px;'>&#128516;</span>
			<% } %> 
			<% if (rating >= 6 && rating < 8) { %>
				  <span style='font-size:75px;'>&#128578;</span>
			<% } %> 
			<% if (rating > 2 && rating <= 4) { %>
				  <span style='font-size:75px;'>&#128577;</span>
			<% } %> 
			<%= rating %>/10
			</h1>
            <% if (tagCount.homework) { %>
              <span class="badge badge-info">heavy workload (<%= tagCount.homework %>)</span>
            <% } %>
            <% if (tagCount.test > 0) { %>
              <span class="badge badge-info">lots of tests (<%= tagCount.test %>)</span>
            <% } %>
            <% if (tagCount.participation > 0) { %>
              <span class="badge badge-info">mandatory participation (<%= tagCount.participation %>)</span>
            <% } %>
            <% if (tagCount.respectful > 0) { %>
              <span class="badge badge-info">respectful (<%= tagCount.respectful %>)</span>
            <% } %>
            <% if (tagCount.notesonline > 0) { %>
              <span class="badge badge-info">posts notes online (<%= tagCount.notesonline %>)</span>
            <% } %>
            <% if (tagCount.available > 0) { %>
              <span class="badge badge-info">available outside class (<%= tagCount.available %>)</span>
            <% } %>
            <% if (tagCount.lectures > 0) { %>
              <span class="badge badge-info">amazing lectures (<%= tagCount.lectures %>)</span>
            <% } %>



          <% } %>
          </div>

          <h2><%= reviews.length %> Reviews</h2>
          <div class="jumbotron review-container">
            <table id="myTable">
            <tr>
             <!--When a header is clicked, run the sortTable function, with a parameter, 0 for sorting by names, 1 for sorting by country:-->
              <th onclick="sortTable(0)">Rating</th>
              <th onclick="sortTable(1)">Class</th>
              <th onclick="sortTable(2)">Date</th>
              <th>Comment</th>
            </tr>
            <% for (var i=0; i < reviews.length; i++) { %>
              <tr>
                <td><%= reviews[i].rating %>/10</td>
                <td><%= reviews[i].course_name %></td>
                <td><%= reviews[i].post_date %></td>
                <td>
                  <p><%= reviews[i].description %> </p>
                  </br>
                  <!-- Displays the characteristic tags -->
                  <% if (reviews[i].homework) { %>
                    <span class="badge badge-info">heavy workload</span>
                  <% } %>
                  <% if (reviews[i].test) { %>
                    <span class="badge badge-info">lots of tests</span>
                  <% } %>
                  <% if (reviews[i].participation) { %>
                    <span class="badge badge-info">mandatory participation</span>
                  <% } %>
                  <% if (reviews[i].respectful) { %>
                    <span class="badge badge-info">respectful</span>
                  <% } %>
                  <% if (reviews[i].notesonline) { %>
                    <span class="badge badge-info">posts notes online</span>
                  <% } %>
                  <% if (reviews[i].available) { %>
                    <span class="badge badge-info">available outside class</span>
                  <% } %>
                  <% if (reviews[i].lectures) { %>
                    <span class="badge badge-info">amazing lectures</span>
                  <% } %>
                </td>
              </tr>
            <% } %>
            </table>

            <script>
            function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("myTable");
            switching = true;
            //Set the sorting direction to ascending:
            dir = "asc";
            /*Make a loop that will continue until
            no switching has been done:*/
            while (switching) {
              //start by saying: no switching is done:
              switching = false;
              rows = table.rows;
              /*Loop through all table rows (except the
              first, which contains table headers):*/
              for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                  if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    //if so, mark as a switch and break the loop:
                    shouldSwitch= true;
                    break;
                  }
                } else if (dir == "desc") {
                  if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    //if so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                  }
                }
              }
              if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount ++;
              } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                  dir = "desc";
                  switching = true;
                }
              }
            }
            }
            </script>
          </div>

          <h2>Questions</h2>
          <small>Have a question about this professor? <a href='/newquestion?prof_id=<%= professor.professor_id %>'>Ask away</a></small>
          <div class="jumbotron">
              <% for (var i=0; i < questions.length; i++) { %>
                <h4><%= questions[i].question_text %></h4>
                <small><a href='/question?id=<%= questions[i].post_id %>'>View all answers to this question</a></small><br>

                <hr>
              <% } %>
          </div>
        </div>
        <%- include('../partials/sidebar', {active: 'professors'}); %>

      </div>

      <hr>
    </div>
  </body>
</html>
